<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOO_Povarenok.Properties.Settings.TradeConnectionString"
            connectionString="Data Source=LAPTOP-7SNQ0UF8\SQLEXPRESS;Initial Catalog=Trade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>